header {
  align-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}
main {
  font-size: 25px;
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 15%;
}
.desktop-nav {
  position: absolute;
  top: 20;
  padding-top: 2%;
}
body {
  padding-top: 5%;
  color: rgb(65, 63, 63);
  background-color: rgb(221, 226, 224);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h1 {
  color: rgb(65, 63, 63);
}
h3 {
  color: rgb(65, 63, 63);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(80, 136, 141);
}
nav {
  padding: 1%;
  margin-bottom: 1%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(65, 63, 63);
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}


  
